***GO_STP_71: SURAJ SANJEEV PAWAR***

**Goeduhub Technologies**<br>
***https://www.goeduhub.com/***

**Assignment/Task 3**<br>
***Online Summer training on Machine Learning & Data Science With Python***

###***Q.1 Write a Python Program to sort (ascending and descending) a dictionary by value.***

items() method is used to return the list with all dictionary keys with values.<br>dict=dict(l),we will get the sorted Dictionary in ascending order.<br>use l.sort(reverse=True) You will get the sorted dictionary in descending order.

In [ ]:
y={'carl':40,'alan':2,'bob':1,'danny':3}                                      
l=list(y.items())   #convet the given dict. into list
l.sort()            #sort the list
print('Ascending order is',l) #this print the sorted list 

l=list(y.items())
l.sort(reverse=True) #sort in reverse order
print('Descending order is',l)

Ascending order is [('alan', 2), ('bob', 1), ('carl', 40), ('danny', 3)]
Descending order is [('danny', 3), ('carl', 40), ('bob', 1), ('alan', 2)]

###***Q.2 Write a Python Program to add a key to a dictionary.*** 
<br>
Sample Dictionary : {0: 10, 1: 20}<br>
Expected Result : {0: 10, 1: 20, 2: 30}

In [ ]:
d = {0:10, 1:20}
print("Sample Dictionary : ",d)
d.update({2:30})
print("Expected Result : ",d)

Sample Dictionary :  {0: 10, 1: 20}
Expected Result :  {0: 10, 1: 20, 2: 30}

###***Q.3 Write a  program asks for City name and Temperature and builds a dictionary using that Later on you can input City name and it will tell you the Temperature of that City.***

In [ ]:
city1 = input("Enter city name: ")
temp1 = float(input("Enter the temperature in celcius: "))
 
city2 = input("Enter city name: ")
temp2 = float(input("Enter the temperature in celcius: "))
 
city3 = input("Enter city name: ")
temp3 = float(input("Enter the temperature in celcius: "))
 
cities = [city1, city2, city3]
temperature = [temp1, temp2, temp3]
 
dictinoary = dict(zip(cities, temperature))
print(dictinoary)

ask=input("temperature of which city do you want to know?")
print("Temperature of ",ask,'is',dictinoary[ask])

###***Q. 4 Write a Python program to convert list to list of dictionaries.***
<br>
Sample lists: ["Black", "Red", "Maroon", "Yellow"], ["#000000", "#FF0000", "#800000", "#FFFF00"]
<br><br>
Expected Output: [{'color_name': 'Black', 'color_code': '#000000'}, {'color_name': 'Red', 'color_code': '#FF0000'}, {'color_name': 'Maroon', 'color_code': '#800000'}, {'color_name': 'Yellow', 'color_code': '#FFFF00'}]

In [ ]:
color_name = ["Black", "Red", "Maroon", "Yellow"]
color_code = ["#000000", "#FF0000", "#800000", "#FFFF00"]
print([{'color_name': f, 'color_code': c} for f, c in zip(color_name, color_code)])

 ###***Q. 5 We have following information on Employees and their Salary (Salary is in lakhs)***

1.Using above create a dictionary of Employees and their Salary<br><br>
2.Write a program that asks user for three type of inputs,<br><br>
a>>print: if user enter print then it should print all Employees with their Salary in this format,<br>
1.John ==>14<br>
2.Smith ==>13<br>
3.Alice ==>32<br>
4.Daneil ==>21<br><br>
b>>add: if user input adds then it should further ask for an Employee name to add. If Employee already exists in our dataset then it should print that it exists and do nothing. If it doesn't then it asks for Salary and add that new Employee/Salary in our dictionary and print it.<br><br>
c>>remove: when user inputs remove it should ask for an Employee to remove. If an Employee exists in our dictionary then remove it and print a new dictionary using format shown above in (a). Else print that Employee doesn't exist!<br><br>
d>>query: on this again ask the user for which Employee he or she wants to query. When a user inputs that Employee it will print the Salary of that Employee.

In [ ]:
ask = input("Temperature of which city you want to know? ")
print("Temperature of", ask, "is", dictinoary[ask])
employee = ["John", "Smith", "Alice", "Daniel"]
salary = [14, 13, 32, 21]
 
empl = ['John','Smith','Alice','Daniel']
sal = [14, 13, 32, 21]
 
inp= input("Enter your choice :print or add or remove or query: ")
if inp == 'print':
  Dict = dict(zip(empl, sal))
  for a in Dict:
    print(a,"==>",Dict[f"{a}"])
 
elif inp == 'add':
  emp= input("Enter the name of the Employee to be added: ")
  if emp.title() in Dict.keys():
    print(f"{emp} name is already existing!")
  else:
    salr = input(f"Enter the salary of the {emp} ")
    Dict.update({emp : salr})
    print(Dict)
 
elif inp == 'remove':
  name = input("Enter the name of the employee to be removed? ")
  if name in Dict:
    Dict.pop(name)
    print(Dict)
 
  else:
    print(f"Sorry!!, {name} doesn't exist in the data!")
  
elif inp == 'query':
  emp= input("Enter the name of the employee you want to query: ").title()
  if emp in Dict.keys():
    print(f"The salary of {emp} is {Dict[emp]}")
  else:
    print(f"The employee named {emp} doesn't exist!!")
 
else:
  print("Enter a valid choice")

###***Q.1 What is the difference between a set and a frozenset? Create any set and try to use frozenset(setname).***

set type is mutable -- the contents can be changed using methods like add() and remove().
---

In [ ]:
language = set(["Perl", "Python", "Java","Python", "C++","C"])
print("Normal set",language)
language.add("Django")
print("Add the value in given set",language)
language.remove("Django")
print("Remove the value in given set",language)

Normal set {'C++', 'Perl', 'Java', 'Python', 'C'}
Add the value in given set {'C++', 'Django', 'Perl', 'Java', 'Python', 'C'}
Remove the value in given set {'C++', 'Perl', 'Java', 'Python', 'C'}

The frozenset() function returns an immutable frozenset object initialized with elements from the given iterable.elements of the frozen set remain the same after creation.The frozenset type is immutable and hashable -- its contents cannot be altered after is created.

In [ ]:
language =frozenset(["Perl", "Python", "Java","Python", "C++","C"])
#language.add("Strasbourg")
print(language)

#AttributeError: 'frozenset' object has no attribute 'add'

frozenset({'C++', 'Perl', 'Java', 'Python', 'C'})

###***Q.2 Find the elements in a given set that are not in another set***

    set1 = {10,20,30,40,50}

    set2 = {40,50,60,70,80}

 Difference between set1 and set2 is {10,20,30}

In [ ]:
set1 = {10,20,30,40,50}
set2 = {40,50,60,70,80}
print("Original sets:")
print(set1)
print(set2)
print("Difference of set1 and set2 using difference():")
print(set1.difference(set2))
print("Difference of set2 and set1 using difference():")
print(set2.difference(set1))
print("Difference of set1 and set2 using - operator:")
print(set1-set2)
print("Difference of set2 and set1 using - operator:")
print(set2-set1)

Original sets:
{40, 10, 50, 20, 30}
{70, 40, 80, 50, 60}
Difference of set1 and set2 using difference():
{10, 20, 30}
Difference of set2 and set1 using difference():
{80, 60, 70}
Difference of set1 and set2 using - operator:
{10, 20, 30}
Difference of set2 and set1 using - operator:
{80, 60, 70}

***Thank you Mam and Goeduhub Technologies***